* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Bootstrap override */
.container {
  padding: 0;
}

#spriteDisplay {
  display: flex;
}

#carouselPokemonInner {
  background: black;
  width: 100vw;
  height: 100vh;
}

#buttons {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#scrollLeft,
#scrollRight {
  height: 25vh;
}

.carousel-item .active > img {
  border: 1px solid red;
}

/* My Styles */
.spriteContainerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}
